# Ignore all directories, and all sub-directories, and it's contents:
# Ignore * all files in directories
# Ignore **/ alll subdirectories 

# VsCode files
.vscode/

# Eclipse files
/.settings/
/.vscode/
/.project
/.buildpath

#FormDin5 Project
appexemplo_v1.0/.phpunit.result.cache
/sysgen/
/sysgenad/
/phpunit-code-coverage/
!/phpunit-code-coverage/phpunit-code-coverage.zip
/appexemplo_v1.0/tmp/
!/appexemplo_v1.0/tmp/.htaccess