# Ignore all directories, and all sub-directories, and it's contents:
# Ignore * all files in directories
# Ignore **/ alll subdirectories 

# VsCode files
.vscode/

# Eclipse files
/.settings/
/.vscode/
/.project
/.buildpath

#FormDin5 Project
/sysgen/
/sysgenad/
!phpunit-code-coverage/cache/index.php
!phpunit-code-coverage/html/index.php
!phpunit-code-coverage/phpunit-code-coverage.zip
phpunit-code-coverage/**

/appexemplo_v1.0/tmp/
!/appexemplo_v1.0/tmp/.htaccess

appexemplo_v1.0/.phpunit.result.cache
!appexemplo_v1.0/app/tests/index.php
appexemplo_v1.0/app/tests/phpunit-reports
!appexemplo_v1.0/app/tests/phpunit-reports/index.php
!appexemplo_v1.0/app/tests/phpunit-reports/code-coverage/index.php

FormDin5/tests/.phpunit.result.cache
FormDin5/tests/phpunit.xml