<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="init.php"
         colors="true">
    <coverage>
        <include>
            <directory suffix=".php">D:\wamp64\www\adiantiApp\formDin5\appexemplo_v1.0\app\lib\widget\FormDin5</directory>
        </include>
        <report>
            <html outputDirectory="c:\wamp64\www\adiantiApp\formDin5\phpunit-code-coverage\html"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>c:\wamp64\www\adiantiApp\formDin5\appexemplo_v1.0\app\tests\</directory>
        </testsuite>
    </testsuites>
</phpunit>