<menu>
    <menuitem label='Campos'>
        <icon>fa:user fa-fw</icon>
        <menu>
            <menuitem label='Texto'>
                <icon>fa:align-left fa-fw</icon>
                <menu>
                    <menuitem label='Simples'>
                        <icon>fa:align-left fa-fw</icon>
                        <menu>
                            <menuitem label='Texto'>
                                <icon>fa:align-left fa-fw</icon>
                                <action>exe_TextField</action>
                            </menuitem>            
                            <menuitem label='Máscara'>
                                <icon>fa:align-left fa-fw</icon>
                                <action>exe_maskField</action>
                            </menuitem>
                            <menuitem label='Memo'>
                                <icon>fa:align-left fa-fw</icon>
                                <action>exe_TMemo</action>
                            </menuitem>          
                        </menu>
                    </menuitem>            
                    <menuitem label='Rico'>
                        <icon>fa:align-left fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                    <menuitem label='Funções'>
                        <icon>fa:align-left fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>          
                </menu>
            </menuitem>            
            <menuitem label='HTML'>
                <icon>fab:html5 fa-fw</icon>
                <menu>            
                    <menuitem label='HTML'>
                        <icon>fab:html5 fa-fw</icon>
                        <action>exe_HtmlField</action>
                    </menuitem>
                    <menuitem label='HTML com iFrame'>
                        <icon>fab:html5 fa-fw</icon>
                        <action>exe_HtmlField_iframe</action>
                    </menuitem>          
                </menu>
            </menuitem>
            <menuitem label='Coord GMS'>
                <icon>fa:map-marker fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>
            <menuitem label='Select'>
                <icon>fa:sort-down fa-fw</icon>
                <action>exe_SelectField_01</action>
            </menuitem>
            <menuitem label='Radio'>
                <icon>fa:table fa-fw</icon>
                <action>exe_RadioField</action>
            </menuitem>
            <menuitem label='Check'>
                <icon>fa:check-square fa-fw</icon>
                <menu>            
                    <menuitem label='Check Field'>
                        <icon>fa:check-square fa-fw</icon>
                        <action>exe_CheckField</action>
                    </menuitem>
                    <menuitem label='Check List'>
                        <icon>fa:check-square fa-fw</icon>
                        <action>exe_checklist</action>
                    </menuitem>          
                </menu>
            </menuitem>
            <menuitem label='Switch'>
                <icon>fa:check-square fa-fw</icon>
                <action>exe_switch</action>
            </menuitem>            
            <menuitem label='Arquivo ou Blob'>
                <icon>far:file fa-file</icon>
                <menu>            
                    <menuitem label='Campo Blob'>
                        <icon>fa:flag fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                    <menuitem label='Campo Arquivo simples'>
                        <icon>far:file fa-file</icon>
                        <menu>            
                            <menuitem label='Assincrono'>
                                <icon>fa:flag fa-fw</icon>
                                <action>comingSoonView</action>
                            </menuitem>
                            <menuitem label='Normal'>
                                <icon>far:file fa-file</icon>
                                <action>exe_TFile</action>
                            </menuitem>
                            <menuitem label='TAssincrono'>
                                <icon>fa:flag fa-fw</icon>
                                <action>comingSoonView</action>
                            </menuitem>
                        </menu>
                    </menuitem>
                </menu>
            </menuitem>
            <menuitem label='Númerico'>
                <icon>fa:check-square fa-fw</icon>
                <action>exe_NumberField</action>
            </menuitem>
            <menuitem label='Brasil'>
                <icon>fa:flag fa-fw green</icon>
                <menu>
                    <menuitem label='Campo CEP'>
                        <icon>fa:code fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>                
                    <menuitem label='Campo Telefone'>
                        <icon>fa:code fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                    <menuitem label='Campo Cpf/Cnpj'>
                        <icon>fa:flag fa-fw green</icon>
                        <action>exe_campo_cpf_cnpj</action>
                    </menuitem>            
                </menu>
            </menuitem>
            <menuitem label='Data e hora'>
                <icon>fas:calendar-alt fa-fw</icon>
                <menu>            
                    <menuitem label='Data'>
                        <icon>fas:calendar-alt fa-fw</icon>
                        <action>exe_DateField</action>
                    </menuitem>
                    <menuitem label='Hora'>
                        <icon>fas:calendar-alt fa-fw</icon>
                        <action>exe_campo_hora</action>
                    </menuitem>
                    <menuitem label='Agenda'>
                        <icon>fas:calendar-alt fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                    <menuitem label='Data hora'>
                        <icon>fas:calendar-alt fa-fw</icon>
                        <action>exe_DateTimeField</action>
                    </menuitem>                    
                </menu>
            </menuitem>
            <menuitem label='Select Diretorio/Pasta'>
                <icon>fa:flag fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>            
            <menuitem label='Campo Senha'>
                <icon>fa:flag fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>
            <menuitem label='Campo Captcha'>
                <icon>fa:flag fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>
            <menuitem label='Campo Cor'>
                <icon>fa:flag fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>
            <menuitem label='Tecla de Atalho'>
                <icon>fa:flag fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>
            <menuitem label='Campo Link'>
                <icon>fa:flag fa-fw</icon>
                <action>exe_bar_code</action>
            </menuitem>
            <menuitem label='Redirect'>
                <icon>fa:flag fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>
            <menuitem label='TZip'>
                <icon>fa:flag fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>
            <menuitem label='E-mail'>
                <icon>fa:flag fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>
            <menuitem label='Button'>
                <icon>fa:flag fa-fw</icon>
                <action>exe_TButton</action>
            </menuitem>             
        </menu>
    </menuitem>
    <menuitem label='Containers'>
        <icon>fas:archive fa-fw</icon>
        <menu>
            <menuitem label='Grupo'>
                <icon>fa:cube fa-fw</icon>
                <menu>
                    <menuitem label='Grupo 01 Normal'>
                        <icon>fa:cube fa-fw</icon>
                        <action>exe_GroupField01</action>
                    </menuitem>
                    <menuitem label='Grupo 02 Combinados, ( Efeito Sanfona )'>
                        <icon>fa:cube fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                    <menuitem label='Grupo 03 Combinados, muda cor fundo'>
                        <icon>fa:cube fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                </menu>
            </menuitem>      
            <menuitem label='Abas'>
                <icon>fa:cube fa-fw</icon>
                <menu>
                    <menuitem label='Aba - com tecla de atalha'>
                        <icon>fa:cube fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>      
                    <menuitem label='Aba2 - Botão ligando aba'>
                        <icon>fa:cube fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                    <menuitem label='Aba3 - select chamando aba'>
                        <icon>fa:cube fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                    <menuitem label='Aba4'>
                        <icon>fa:cube fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                    <menuitem label='Aba5'>
                        <icon>fa:cube fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>                                        
                </menu>
            </menuitem>
            <menuitem label='TreeView'>
                <icon>fa:code fa-fw</icon>
                <menu>
                    <menuitem label='Dentro do Formulário'>
                        <icon>fa:life-ring fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>      
                    <menuitem label='Fora do Formulário'>
                        <icon>fa:cube fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                    <menuitem label='User Data - Array'>
                        <icon>fa:code fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                </menu>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Mensagens e Ajuda'>
        <icon>fa:life-ring fa-fw</icon>
        <menu>
            <menuitem label='Hints / Tooltips'>
                <icon>fa:life-ring fa-fw</icon>
                <action>exe_hint</action>
            </menuitem>      
            <menuitem label='Mensagens'>
                <icon>fa:life-ring fa-fw</icon>
                <menu>
                    <menuitem label='Mensagens JS'>
                        <icon>fa:life-ring fa-fw</icon>
                        <action>exe_mensagem</action>
                    </menuitem>      
                    <menuitem label='Mensagens PHP'>
                        <icon>fa:life-ring fa-fw</icon>
                        <action>exe_mensagemv2</action>
                    </menuitem>
                    <menuitem label='Caixa de Confirmação'>
                        <icon>fa:life-ring fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                </menu>
            </menuitem>
            <menuitem label='Ajuda'>
                <icon>fas:question fa-question-circle #2965f1</icon>
                <menu>
                    <menuitem label='Ajuda com arquivo HTM'>
                        <icon>fas:question fa-question-circle #2965f1</icon>
                        <action>exe_campo_ajuda</action>
                    </menuitem>      
                    <menuitem label='Ajuda On-line (sqlite)'>
                        <icon>fa:cube fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                    <menuitem label='Ajuda'>
                        <icon>fa:code fa-fw</icon>
                        <action>comingSoonView</action>
                    </menuitem>
                </menu>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='JavaScript'>
        <icon>fab:js fa-fw #f0db4f </icon>
        <menu>
            <menuitem label='Ajuda'>
                <icon>fa:life-ring fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>      
            <menuitem label='Ver módulos'>
                <icon>fa:cube fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>
            <menuitem label='Setup PHP'>
                <icon>fa:code fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='PDF'>
        <icon>fa:file-pdf fa-fw red</icon>
        <menu>
            <menuitem label='PDF e HTML Simples'>
                <icon>fa:file-pdf fa-fw red</icon>
                <action>pdf_html</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Gride'>
        <icon>fas:th fa-fw #2965f1</icon>
        <menu>
            <menuitem label='Grides simples'>
                <icon>fas:th fa-fw #2965f1</icon>
                <menu>
                    <menuitem label='Gride 05 - Paginação'>
                        <icon>fas:th fa-fw #2965f1</icon>
                        <action>exe_gride05_paginacao</action>
                    </menuitem>
                    <menuitem label='Gride 05 - Paginação Scroll Horizontal'>
                        <icon>fas:th fa-fw #2965f1</icon>
                        <action>exe_gride05_paginacao_scrollhorizontal</action>
                    </menuitem>
                    <menuitem label='Gride 05 - Paginação Scroll Vertical'>
                        <icon>fas:th fa-fw #2965f1</icon>
                        <action>exe_gride05_paginacao_scrollvertical</action>
                    </menuitem>
                    <menuitem label='Grides 17 simples - Bootstrap'>
                        <icon>fas:th fa-fw #2965f1</icon>
                        <action>exe_grid17</action>
                    </menuitem>
                    <menuitem label='Grides 18 simples - Setando dados'>
                        <icon>fas:th fa-fw #2965f1</icon>
                        <action>exe_grid18</action>
                    </menuitem>                    
                </menu> 
            </menuitem>      
            <menuitem label='Grides com campos internos'>
                <icon>fas:th fa-fw #2965f1</icon>
                <menu>
                    <menuitem label='Gride Campos 01 - CheckColumn'>
                        <icon>fas:th fa-fw #2965f1</icon>
                        <action>exe_gride_field01_check</action>
                    </menuitem>
                </menu>
            </menuitem>
            <menuitem label='Grides Draw - desenhando Dinamicamente'>
                <icon>fas:th fa-fw #2965f1</icon>
                <action>comingSoonView</action>
            </menuitem>
        </menu>        
    </menuitem>
    <menuitem label='Banco e PDO'>
        <icon>fas:database fa-fw</icon>
        <action>comingSoonView</action>
    </menuitem>
    <menuitem label='Formulário'>
        <icon>far:edit fa-fw green</icon>
        <action>comingSoonView</action>
    </menuitem>
    <menuitem label='Layout e CSS'>
        <icon>fas:exclamation-triangle fa-fw #264de4</icon>
        <menu>   
            <menuitem label='Customizado com CSS'>
                <icon>fab fa:css3 fa-fw</icon>
                <menu>
                    <menuitem label='Cores diferentes no Form'>
                        <icon>fab fa:css3-alt fa-fw</icon>
                        <action>exe_TForm3</action>
                    </menuitem>
                    <menuitem label='Form Buttuns Customizado com CSS'>
                        <icon>fab fa:css3-alt fa-fw</icon>
                        <action>exe_css_form02</action>
                    </menuitem>                    
                </menu>
            </menuitem>
            <menuitem label='Colunas no Formulário'>
                <icon>fa:code fa-fw</icon>
                <action>exe_colunas</action>
            </menuitem>
            <menuitem label='FormDin + Adianti Nativos'>
                <icon>fa:code fa-fw</icon>
                <action>exe_formdinMaisAdianti</action>
            </menuitem>            
        </menu>
    </menuitem>
    <menuitem label='Gerador de Código'>
        <icon>fas:cog fa-fw</icon>
        <menu>
            <menuitem label='Gerador VO/DAO'>
                <icon>fas:cog fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>
            <menuitem label='Gerador Form VO/DAO'>
                <icon>fas:cog fa-fw</icon>
                <action>comingSoonView</action>
            </menuitem>
            <menuitem label='Gerador de Sistemas'>
                <icon>fa:magic fa-fw #f0db4f</icon>
                <action>sysgenView</action>
            </menuitem>            
        </menu>
    </menuitem>    
    <menuitem label='Ajuda'>
        <icon>fa:life-ring fa-fw</icon>
        <menu>
            <menuitem label='Ajuda'>
                <icon>fa:life-ring fa-fw</icon>
                <action>AjudaView</action>
            </menuitem>      
            <menuitem label='Ver módulos'>
                <icon>fa:cube fa-fw</icon>
                <action>SystemModulesCheckView</action>
            </menuitem>
            <menuitem label='Setup PHP'>
                <icon>fa:code fa-fw</icon>
                <action>SystemPHPInfoView</action>
            </menuitem>
        </menu>
    </menuitem>
</menu>
